<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<header>
			<h1><%= title %></h1>
			<p class="byline"><%= byline %></p>
		</header>
		<% if (posts) {  posts.forEach(function (post) { %>
		<article>
			<header>
				<h1><%- post.title %></h1>
			</header>
			<%- post.body %>
		</article>
		<% })} %>
	</body>
</html>
